<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{url_for('static',filename='css.css')}}" />
     <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}" />
    <title>Test</title>
  </head>
  <body>


    <main id="view" class="w-100 container p-5 bg-primary rounded-3 mb-4">
      <div id="disPlay" class="row g-1"></div>
    </main>
    <div class="w-100 bg-dark p-5" >
      <div class="d-flex justify-content-center">
         <div class="text-white fs-1" id="output"></div>
      </div>
      <button id="submit" type="submit"  class="m-2 btn-danger btn">submit</button>
    </div>
    <div class="d-flex justify-content-around">
      <select class="dropdown bg-danger p-2" name="cars" id="list1">
         <option value="weight_loss">weight_loss</option>
        <!-- 129 -->
        <option value="fatigue">fatigue</option>
        <!-- 41 -->
        <option value="restlessness">restlessness</option>
        <!-- 94 -->
        <option value="lethargy">lethargy</option>
        <!-- 60 -->

        <option value="irregular_sugar_level">irregular_sugar_level</option>
        <!-- 53 -->
        <option value="blurred_and_distorted_vision">
          blurred_and_distorted_vision
        </option>
        <!-- 13 -->
        <option value="obesity">obesity</option>
        <!-- 76 -->
        <option value="increased_appetite">increased_appetite</option>
        <!-- 49 -->

        <option value="fatigue">fatigue</option>
        <!-- 85 -->
        <option value="weight_loss">weight_loss</option>
        <!-- 37 -->
        <option value="restlessness">restlessness</option>
        <!-- 19 -->
        <option value="lethargy">lethargy</option>
        <!-- 26 -->

        <option value="high_fever">high_fever</option>
        <!-- 46 -->
        <option value="weight_loss">weight_loss</option>
        <!-- 14 -->
        <option value="breathlessness">breathlessness</option>
        <!-- 65 -->
        <option value="phlegm">phlegm</option>
        <!-- 84 -->

        <option value="chest_pain">chest_pain</option>
        <!-- 18 -->
        <option value="fast_heart_rate">fast_heart_rate</option>
        <!-- 40 -->
        <option value="sweating">sweating</option>
        <!-- 111 -->
      </select>

      <select class="dropdown bg-primary p-2" name="cars" id="list2">
        <option value="restlessness">restlessness</option>
        <!-- 94 -->
        <option value="fatigue">fatigue</option>
        <!-- 41 -->
        <option value="weight_loss">weight_loss</option>
        <!-- 129 -->
        <option value="lethargy">lethargy</option>
        <!-- 60 -->

        <option value="irregular_sugar_level">irregular_sugar_level</option>
        <!-- 53 -->
        <option value="blurred_and_distorted_vision">
          blurred_and_distorted_vision
        </option>
        <!-- 13 -->
        <option value="obesity">obesity</option>
        <!-- 76 -->
        <option value="increased_appetite">increased_appetite</option>
        <!-- 49 -->

        <option value="fatigue">fatigue</option>
        <!-- 85 -->
        <option value="weight_loss">weight_loss</option>
        <!-- 37 -->
        <option value="restlessness">restlessness</option>
        <!-- 19 -->
        <option value="lethargy">lethargy</option>
        <!-- 26 -->

        <option value="high_fever">high_fever</option>
        <!-- 46 -->
        <option value="weight_loss">weight_loss</option>
        <!-- 14 -->
        <option value="breathlessness">breathlessness</option>
        <!-- 65 -->
        <option value="phlegm">phlegm</option>
        <!-- 84 -->

        <option value="chest_pain">chest_pain</option>
        <!-- 18 -->
        <option value="fast_heart_rate">fast_heart_rate</option>
        <!-- 40 -->
        <option value="sweating">sweating</option>
        <!-- 111 -->
      </select>

      <select class="dropdown  p-2" name="cars" id="list3">
        <option value="lethargy">lethargy</option>
        <!-- 60 -->
        <option value="fatigue">fatigue</option>
        <!-- 41 -->
        <option value="weight_loss">weight_loss</option>
        <!-- 129 -->
        <option value="restlessness">restlessness</option>
        <!-- 94 -->

        <option value="irregular_sugar_level">irregular_sugar_level</option>
        <!-- 53 -->
        <option value="blurred_and_distorted_vision">
          blurred_and_distorted_vision
        </option>
        <!-- 13 -->
        <option value="obesity">obesity</option>
        <!-- 76 -->
        <option value="increased_appetite">increased_appetite</option>
        <!-- 49 -->

        <option value="fatigue">fatigue</option>
        <!-- 85 -->
        <option value="weight_loss">weight_loss</option>
        <!-- 37 -->
        <option value="restlessness">restlessness</option>
        <!-- 19 -->
        <option value="lethargy">lethargy</option>
        <!-- 26 -->

        <option value="high_fever">high_fever</option>
        <!-- 46 -->
        <option value="weight_loss">weight_loss</option>
        <!-- 14 -->
        <option value="breathlessness">breathlessness</option>
        <!-- 65 -->
        <option value="phlegm">phlegm</option>
        <!-- 84 -->

        <option value="chest_pain">chest_pain</option>
        <!-- 18 -->
        <option value="fast_heart_rate">fast_heart_rate</option>
        <!-- 40 -->
        <option value="sweating">sweating</option>
        <!-- 111 -->
      </select>

      <select class="dropdown bg-primary p-2" name="cars" id="list4">
        <option value="irregular_sugar_level">irregular_sugar_level</option>
        <!-- 53 -->
        <option value="fatigue">fatigue</option>
        <!-- 41 -->
        <option value="weight_loss">weight_loss</option>
        <!-- 129 -->
        <option value="restlessness">restlessness</option>
        <!-- 94 -->
        <option value="lethargy">lethargy</option>
        <!-- 60 -->

        <option value="blurred_and_distorted_vision">
          blurred_and_distorted_vision
        </option>
        <!-- 13 -->
        <option value="obesity">obesity</option>
        <!-- 76 -->
        <option value="increased_appetite">increased_appetite</option>
        <!-- 49 -->

        <option value="fatigue">fatigue</option>
        <!-- 85 -->
        <option value="weight_loss">weight_loss</option>
        <!-- 37 -->
        <option value="restlessness">restlessness</option>
        <!-- 19 -->
        <option value="lethargy">lethargy</option>
        <!-- 26 -->

        <option value="high_fever">high_fever</option>
        <!-- 46 -->
        <option value="weight_loss">weight_loss</option>
        <!-- 14 -->
        <option value="breathlessness">breathlessness</option>
        <!-- 65 -->
        <option value="phlegm">phlegm</option>
        <!-- 84 -->

        <option value="chest_pain">chest_pain</option>
        <!-- 18 -->
        <option value="fast_heart_rate">fast_heart_rate</option>
        <!-- 40 -->
        <option value="sweating">sweating</option>
        <!-- 111 -->
      </select>

      <select class="dropdown bg-danger p-2" name="cars" id="list5">
        <option value="fatigue">fatigue</option>
        <!-- 41 -->
        <option value="weight_loss">weight_loss</option>
        <!-- 129 -->
        <option value="restlessness">restlessness</option>
        <!-- 94 -->
        <option value="lethargy">lethargy</option>
        <!-- 60 -->

        <option value="irregular_sugar_level">irregular_sugar_level</option>
        <!-- 53 -->
        <option value="blurred_and_distorted_vision">
          blurred_and_distorted_vision
        </option>
        <!-- 13 -->
        <option value="obesity">obesity</option>
        <!-- 76 -->
        <option value="increased_appetite">increased_appetite</option>
        <!-- 49 -->

        <option value="fatigue">fatigue</option>
        <!-- 85 -->
        <option value="weight_loss">weight_loss</option>
        <!-- 37 -->
        <option value="restlessness">restlessness</option>
        <!-- 19 -->
        <option value="lethargy">lethargy</option>
        <!-- 26 -->

        <option value="high_fever">high_fever</option>
        <!-- 46 -->
        <option value="weight_loss">weight_loss</option>
        <!-- 14 -->
        <option value="breathlessness">breathlessness</option>
        <!-- 65 -->
        <option value="phlegm">phlegm</option>
        <!-- 84 -->

        <option value="chest_pain">chest_pain</option>
        <!-- 18 -->
        <option value="fast_heart_rate">fast_heart_rate</option>
        <!-- 40 -->
        <option value="sweating">sweating</option>
        <!-- 111 -->
      </select>


    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
      <script src="{{url_for('static', filename='bootstrap.bundle.min.js')}}"></script>


  </body>
</html>
